.btn__go--cart {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
}
.card__badge--red {
  background-color: var(--s-danger);
}

.btn__secondary {
  cursor: not-allowed;
}
